.nav-link {
  color: #FFF;
  font-family: 'Montserrat',
  Arial,
  sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-right: 1rem;
}

.logo-link {
  color: #FFF;
  font-family: 'Rammetto One', 'Montserrat',
    Arial,
    sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-decoration: none;
  margin-right: 1rem;
  text-align: right;
}

.logo-link img {
  width: 3rem;
  height: auto;
  vertical-align: middle;
}

.nav-link:hover {
  text-decoration: underline;
}

.item-link {
  text-decoration: none;
  font-family: 'Montserrat', Arial, sans-serif !important;
}

.dependent-link {
  margin-left: -1.25rem;
}
.menu-btn {
  display: none !important;
}
@media (max-width: 40rem) {
  .menu-btn {
    display: block !important;
  }
  .menu-icon {
    color: #FFF;
    width: 2rem !important;
    height: 2rem !important;
  }

  .typography-links{
    display: none !important;
  }
}

.app-bar-class{
  padding-top: 2rem;
}

